.icon-btn {
    -fx-background-color: transparent;

    -fx-font-size: 18px;
    -fx-text-fill: #ff4e88;
    -fx-font-family: "Arial";
    -fx-font-weight: bold;
    -fx-background-radius: 0;
    -fx-padding: 8 20;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.15), 16, 0.0, 0, 2);

}
.icon-btn:hover {
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.3), 10, 0.5, 0, 4);
    -fx-cursor: hand;
    -fx-background-color: #ff99cc;
    -fx-background-radius: 20;
    -fx-text-fill: white;

}

.icon2-btn {
    -fx-background-color: transparent;
    -fx-font-size: 18px;
    -fx-text-fill: #8c63e8;
    -fx-font-family: "Arial";
    -fx-font-weight: bold;
    -fx-background-radius: 0;
    -fx-padding: 8 20;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.15), 16, 0.0, 0, 2);

}
.icon2-btn:hover {
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.3), 10, 0.5, 0, 4);
    -fx-cursor: hand;
    -fx-background-color: #c7b2f5;
    -fx-background-radius: 20;
    -fx-text-fill: white;

}

.main-title {
    -fx-font-size: 20px;
    -fx-font-weight: bold;
    -fx-text-fill: #7bc7ff;
    -fx-font-family: "Arial";
    -fx-effect: dropshadow(gaussian, rgba(170, 232, 255, 0.51), 8, 0.2, 0, 2);
}